{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
    <p class="lead">CRUD hecho en python y MongoDB con las librerias de flask y pymongo</p>
    <hr class="my-4">
    
    <p>Visita el repositorio en github! <a href="https://github.com/julian4u0/citas_medicas"><i class="im im-github"></i><span style="font-size:25px">/julian4u0</span></a></p>
</div>
<h2>Todos los pacientes</h2>
<div style="overflow-x:auto;">
    <table>
        <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Documento</th>
        <th>Fecha de nacimiento</th>
        <th>Ciudad</th>
        <th>Barrio</th>
        <th>Celular</th>
        <th>Acciones</th>
        </tr>
        {% for patient in all_patients %}
        <tr>
            <td>{{patient["patientName"]}}</td>
            <td>{{patient["patientLastname"]}}</td>
            <td>{{patient["patientDocId"]}}</td>
            <td>{{patient["patientBornDate"]}}</td>
            <td>{{patient["patientCity"]}}</td>
            <td>{{patient["patientDistrict"]}}</td>
            <td>{{patient["patientPhone"]}}</td>
            <td>
                <i class="im im-x-mark" data-toggle="modal" data-target="#exampleModal"
                    onclick='myFunction("{{patient["_id"]}}")'></i>
                <form action="/edit" method="POST">
                    <input type="hidden" value="{{patient["_id"]}}" name="patientId" />
                    <button type="submit" class="btn">
                        <span class="im im-edit"></span>
                    </button>
                </form>
            </td>
        </tr>
        
        {% endfor %}
        
        
        
    </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alerta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Estas seguro de que quiere borrar?

            </div>
            <div class="modal-footer">
                <form action="/delete" method="POST">
                    <input type="hidden" value="asdf" name="patientId" id="patientId" />
                    <button type="button"  class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction(strin) {
        document.getElementById("patientId").value = strin;
    }
</script>
{% endblock %}